@page "/cliente/{Id:int}"

@if (carregando)
{
    <p>Carregando...</p>
}
else
{
    <p>Dados do cliente carregados!</p>
}

@code {
    [Parameter] public int Id { get; set; }
    bool carregando = true;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync.");
        await Task.Delay(2000);
        carregando = false;
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"OnParemetersSet Id={Id}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            Console.WriteLine("OnAfterRender first time");
    }
}

<h3>Cliente @Id</h3>

<ClienteInfo ClienteId="@Id" />
