@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Thats Hornet from Hollow Knight: Silk Song</p>

<img src="img/hornet.webp" alt="Hornet from Silk Song" />
